NODE_ENV=development

FRONTEND_URL="http://localhost:5173"
POSTGRES_USER=someName
POSTGRES_PASSWORD=somePassword
POSTGRES_DB=someDBName

PORT=SomeNumber
DATABASE_URL="postgresql://user:password@localhost:5432/finvest?schema=public"

JWT_SIGNATURE="randomText"
JWT_EXPIRES_IN='1h'

